# Node
node_modules/
.env
.DS_Store
*.log

# VS Code
.vscode/

# OS
Thumbs.db
Desktop.ini

# Build
/dist/
/build/

# Misc
*.tmp
*.bak

# Images
wardrobe_images/
drive-download-20260129T013602Z-3-001/
